body {
    background: url("https://pmcvariety.files.wordpress.com/2013/11/ghost-tv-show.jpg?w=1000&h=563&crop=1") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100%;
    text-align: center;
    color: antiquewhite;
}

.bulleted {
    text-align: left;
    margin-left: 270;
    font-size: large;
}

a:link, a:visited {
    background-color: #fcfcfc;
    color: rgb(119, 177, 141);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

  a:hover, a:active {
    background-color: rgb(163, 219, 184);
    color: white;
}
