<head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>

<h1> Ghostr - The Ghost Name Generator </h1>

{% if user %}
    <h2> Welcome {{user}}</h2>
{% endif %}

<ul>
{% for ghost in ghosts %}
    <li>
        {{ ghost.ghost_name }}
        {% if ghost.gmail %}
         - {{ ghost.first_name }} {{ghost.second_name}}, {{ ghost.gmail.email }}
        {% endif %}
    </li>
{% endfor %}
</ul>

<a href="entry">{{ form_linktext }}</a>

<br>

<a href="{{ auth_url }}">{{ auth_linktext }}</a>
