<head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>

<div>
    <h1> Ghostr. </h1>
    <h2>The Ghost Name Generator</h2>
    {% if user %}
        <h2> Welcome {{user}}</h2>
    {% endif %}
</div>
<div class="bulleted">
    <ul>
    {% for ghost in ghosts %}
        <li>
            {{ ghost.ghost_name }}
            {% if ghost.gmail %}
            - {{ ghost.first_name }} {{ghost.second_name}}, {{ ghost.gmail.email }}
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</div>

<div>
    <a href="entry">{{ form_linktext }}</a>
</div>
